@import '~themes/vars';


@keyframes loading {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.personRefresh {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  svg {
    font-size: 18px;
    margin-left: 4px;
    cursor: pointer;
  }

  .loading {
    animation: loading 1s infinite linear;
  }
  :global {
    .message {
      flex-grow: 1;
      text-align: right;
    }
  }
}
