.PaperMRTList {
  margin-bottom: 24px;
  .paperMRT {
    background-color: #fff;
    margin: 1px 0;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #d5d5d5;

    .sponsorBtn {
      float: right;
    }
    .title {
      font-weight: 500;
      font-size: 20px;
      a {
        color: #000;
      }
    }
    .graphAuthored {
      font-size: 16px;
      font-weight: 300;
      span {
        font-weight: 400;
      }
    }
    .authors {
      color: #198c12;
    }
    .personName {
      &::after {
        content: '. '
      }
      &:last-child::after {
        content: ''
      }
    }
    .mrtInfoBar {
      color: #1e5bb9;
      .infoValue {
        font-weight: 600;
      }
    }
    .split { margin: 0 10px; color: #d5d5d5; }

    &:last-child {
      border: none;
    }

    .mrtRelatedPaperTitles {
      margin-top: 5px;
      margin-bottom: 5px;
      p {
        font-size: 12px;
        margin: 0 0 0 10px;
      }
    }
    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 3px;
    }
    .status {
      text-align: right;
      font-weight: 150;
      font-size: 12px;
    }
  }
}
