@import "~themes/vars";

.formContent {
  padding: 24px 40px 30px;

  .formItem {
    margin-bottom: 0;
  }

  .phoneInput {
    display: flex;
    flex-wrap: wrap;
    .phoneAreaSelect {
      max-width: 128px; min-width: 40px;
      color: #000;
      margin: 12px 12px 8px 0px;
    }
    .formItem {
      flex: 1;
      min-width: 180px;
      margin: 12px 0px 8px;
    }
  }

  .phoneInput {
    display: flex;
    .phoneAreaSelect {
      width: 128px;
      color: #000;
      margin-right: 12px;
      margin-bottom: 0px;
    }
    .formItem {
      flex: 1;
    }
  }

  .error { color: #f00; min-height: 21px; }

  .btnLine {
    display: flex;
    justify-content: flex-end;

    button {
      height: 30px;
      padding: 0 22px;
      margin-top: 10px;
      margin-left: 5px;
      font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;
      cursor: pointer;
    }
  }

  .signUpBtn { float: right; color: #0095FF; cursor: pointer; margin-top: 5px; font-size: 16px; }

  .loginBtn {
    width: 100%; line-height: 40px; border: none; background: rgba(238,238,238,1); height: 40px; margin: 0;
    font-size: 16px; color: rgba(84,84,84,1); border-radius: 4px;

    &.ready { background: #0095FF; color: @color-white; }
  }
  :global {
    .loginBtn.fullBtn { width: 100%; }
  }

  .forgot { float: right; color: #0095FF; cursor: pointer; }


  :global {
    .ant-btn-primary {
      background-color: #0095FF; color: @color-white;
    }
    .has-error .ant-input { border: none; border-bottom: 1px solid #E9E9E9; }
    .ant-input { border: none; background: #fff; font-size: 16px; border-bottom: 1px solid #E9E9E9; outline: none; padding: 4px 0; }
    .ant-select-selection__placeholder { font-size: 16px; }
    .ant-input:focus { box-shadow: none; -webkit-box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: #333;}
    input:-internal-autofill-selected { -webkit-box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: #333;}
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: @color-high;
      border-color: @color-high;
    }
    .ant-checkbox:hover .ant-checkbox-inner {
      border-color: @color-high;
    }
    .has-error .ant-select-selection {
      border-color: #f5222d;
    }
    .has-error .ant-input:not([disabled]) {
      border-color: #f5222d;
    }
    .ant-select-selection { border: none; border-bottom: 1px solid #E9E9E9; }
    .ant-select-selection:focus { box-shadow: none; }
    .ant-select-selection__rendered { margin: 0 !important; padding-right: 30px; }
  }
}

@media screen and(min-width: 900px) {
  .formContent {
    padding: 24px 55px 30px;
    .loginBtn { width: 340px; }
  }
}
