@import "~themes/vars";

.personPath {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex: 0 0 80%;
    min-width: 800px;

    .titleBlock {
      display: flex;
      flex-direction: column;
    }

    .pathArea {
      display: flex;
      flex-direction: column;
      border: solid 1px #eee;


    }

  }
}
