@import '~themes/vars';
@import '~themes/theme-aminer-func';

.overview {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  :global {
    .follow_list {
      background: #fff;
      width: calc((100% - 20px) / 2);

      .type_title {
        height: 50px;
        padding: 0 24px;

        .title_inner {
          border-bottom: 1px solid #979797;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            .user-fz(20);
            font-weight: bold;
          }
          .more {
            .user-fz(18);
            color: #6d7682;
            font-weight: bold;
            cursor: pointer;
            transition: all 300ms;
          }
          .more:hover {
            color: #0095ff;
          }
        }
      }

      .person-list-item {
        border-bottom: none;
        &:after {
          display: block;
          content: '';
          border-bottom: 1px dashed #979797;
          width: calc(100% - 118px);
          position: absolute;
          bottom: 0;
          left: 96px;
        }
        &:last-child:after {
          border-bottom: none;
        }
      }

      .conf-list-item {
        border-bottom: none;
        &:after {
          display: block;
          content: '';
          border-bottom: 1px dashed #979797;
          width: calc(100% - 118px);
          position: absolute;
          bottom: 0;
          left: 96px;
        }
        &:last-child:after {
          border-bottom: none;
        }
      }
    }
    .follow_list:nth-child(odd) {
      margin-right: 20px;
    }
  }
}

@media screen and(max-width: 992px) {
}

@media screen and(max-width: 768px) {
}
