.joinUs {
  width: 90%;
  margin: 0 auto;
  h1 {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    font-size: 50px;
    padding-bottom: 10px;
    border-bottom: 8px solid #226ebd;
    margin-bottom: 30px;
    span { font-size: 36px; color: #666; }
  }
  .connect {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
    div {
      line-height: 44px;
      overflow: hidden;
      .title {
        color: #333;
      }
    }
    .welfare {
      width: 1045px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 0;
      li {
        width: 292px;
        height: 198px;
        float: left;
        background: url(https://zhengwen.aminer.cn/20200609151404.png) center center no-repeat;
        color: #fff;
        text-align: center;
        line-height: 198px;
        font-size: 30px;
        border-radius: 15px;
        overflow: hidden;
        h3 {
          font-size: 24px;
          height: 60px;
          line-height: 60px;
          color: #fff;
          font-weight: normal;
        }
        p {
          line-height: 20px;
          font-size: 14px;
          text-indent: 0em;
          padding: 0 10px;
        }
      }
    }
  }

  .join {
    .join_us {
      max-width: 1000px;
      margin: 0 auto;
      border-radius: 15px;
      border: 2px solid #d8d8d8;
      padding-bottom: 20px;
      color: #666;
      font-size: 16px;
      margin-bottom: 20px;
      .join_title {
        height: 48px;
        line-height: 48px;
        color: #0096fc;
        font-size: 18px;
        padding: 0 20px;
        border-bottom: 2px solid #d8d8d8;
      }
      .join_need {
        margin-top: 10px;
        color: #333;
        padding: 0 20px;
        line-height: 30px;
      }
      .join_list {
        padding: 0 20px;
        line-height: 30px;
        .add_point {
          margin: 0px;
          padding: 0px;
          max-width: 100%;
          font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
          letter-spacing: 0.544px;
          text-align: justify;
          color: rgb(171, 25, 66);
          font-size: 15px;
          box-sizing: border-box !important;
          overflow-wrap: break-word !important;
        }
      }
    }
  }
  
  .footer {
    text-align: center;
    .footerWord {
      margin: 0px;
      padding: 0px;
      max-width: 100%;
      box-sizing: border-box !important;
      word-wrap: break-word !important;
      color: rgb(176, 0, 0);
      font-size: 15px;
    }
  }


  // 初始化样式
  h1 {
    line-height: 150%;
    font-weight: normal;
  }
  p { margin: 0;}
  .title {
    height: auto;
    overflow: hidden;
    margin-bottom: 36px;
  }
}
