@import "~themes/vars";

.relationBtn {
  :global {
    .btn {
      height: 24px; padding: 5px 7px; border-radius: 2px; margin-right: 6px;
      color: #fff; font-size: 12px; line-height: 14px; font-weight: bold;
      cursor: pointer;
    }
    .advisee { background: #FF7F00; }
    .coauthor { background: #4EAF4A; }
    .advisor { background: #E31B1B; }
  }
}