@import "~themes/vars";

.container {
  border: solid 1px rgb(253, 245, 200);
  background-color: rgb(254, 251, 231);
  margin: 8px;

  :global {
    .ant-form-item {
      margin-bottom: 4px;

      .ant-form-item-label {
        line-height: 28px;
      }
      .ant-form-item-control {
        line-height: 28px;
      }
    }

    .unset {
      color: #444;
    }
  }

}
