@import '~themes/vars';

.confStats {
  width: 100%;
  .chart {
    width: 50%;
    left: 25%;
    position: relative;
    .barChart {
      height: 250px;
    }
  }
  :global {
    #mostAcceptedPapers {
      height: 900px;
    }
    #institutionsWithMostAcceptedPapers {
      height: 1200px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .confStats {
    font-size: 13.65px;
    width: 100%;
    .chart {
      width: 100%;
      left: 0;
      position: relative;
      .barChart {
        height: 250px;
      }
    }
    :global {
      #mostAcceptedPapers {
        height: 450px;
      }
      #institutionsWithMostAcceptedPapers {
        height: 600px;
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 375px) {
  .confStats {
    font-size: 15.36px;
    width: 100%;
    .chart {
      width: 100%;
      left: 0;
      position: relative;
      .barChart {
        height: 350px;
      }
    }
    :global {
      #mostAcceptedPapers {
        height: 450px;
      }
      #institutionsWithMostAcceptedPapers {
        height: 600px;
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 390px) {
  .confStats {
    font-size: 16px;
    width: 100%;
    .chart {
      width: 100%;
      left: 0;
      position: relative;
      .barChart {
        height: 350px;
      }
    }
    :global {
      #mostAcceptedPapers {
        height: 450px;
      }
      #institutionsWithMostAcceptedPapers {
        height: 600px;
      }
    }
  }
}

@media only screen and (min-width: 390px) and (max-width: 414px) {
  .confStats {
    font-size: 16.64px;
    width: 100%;
    .chart {
      width: 100%;
      left: 0;
      position: relative;
      .barChart {
        height: 300px;
      }
    }
    :global {
      #mostAcceptedPapers {
        height: 450px;
      }
      #institutionsWithMostAcceptedPapers {
        height: 600px;
      }
    }
  }
}

@media only screen and (min-width: 414px) and (max-width: 640px) {
  .confStats {
    font-size: 17.664px;
    width: 100%;
    .chart {
      width: 100%;
      left: 0;
      position: relative;
      .barChart {
        height: 350px;
      }
    }
    :global {
      #mostAcceptedPapers {
        height: 450px;
      }
      #institutionsWithMostAcceptedPapers {
        height: 600px;
      }
    }
  }
}
