.Rank {
  :global {
    .am-aminer-aiopen-components-header-menu-menu .menuItem {
      color: #6B6B6B;
    }
    .am-aminer-aiopen-components-header-menu-menu .active {
      color: #474EE3;
    }
    .am-aminer-aiopen-components-header-menu-menu .menuItem::after {
      background-color: #474EE3;
    }
    padding: 20px 0;
    .top {
      display: flex;
      margin: 0 auto 20px;
      width: 1200px;
      background-color: #fff;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
    }
    .rankSearch {
      width: 189px;
      height: 32px;
      border-radius: 16px;
      background-color: #EBECF1;
      margin-right: 31px;
      :global {
        input.ant-input {
          border-radius: 16px;
          background-color: #EBECF1;
          &::placeholder {
            color: #939393;
          }
        }
      }
    }
    .title {
      font-size: 22px;
      color: #7F7F7F;
    }
    .bottom {
      width: 1200px;
      margin: 50px auto;
      h2 {
        color: #7F7F7F;
        font-size: 22px;
        margin: 27px 0;
      }
      .list-wrapper {
        .skeleton {
          padding: 20px;
          background-color: #fff;
          border-radius: 8px;
        }
      }
    }
    .bottom2 {
      margin-top: 25px;
    }

  }

  .menu {
    // width: 320px;
    height: 71px;
    border-radius: 8px;
    background-color: #fff;
  }

  .menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }

}
