.DailyNews {
  display: flex;
  flex-direction: column;
  padding: 9px 16px;
  background-color: #fff;

  a {
    // margin: 5px 16px;
    font-size: 14px;
    color: #000E28;
    border-bottom: 1px dashed #979797;
    padding: 10px 0;
  }

  a:hover {
    color: #1890ff;
  }

  a:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
