.personPassAway {
  border: 1px dashed #020E26;
  border-radius: 2px;
  background: #F9F9F9;
  color: #000;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;

  .date {
    margin-bottom: 5px;
  }
}
