.orgPdfDownloadList {
  :global {
    .downloadAllPdf {
      position: absolute;
      right: 11px;
      z-index: 10;
      margin-top: 10px;
      cursor: pointer;
      width: auto;
      height: 40px;
      overflow-x: scroll;
      white-space: nowrap;
      max-width: 600px;
      .downloadpdfs {
        margin: 0 5px;
      }
    }
  }
}
.orgPdfDownloadList > div {
  margin-right: 5px;
}
