.infoRightZone {
  display: flex !important;
  flex-direction: row;

  div {
    margin-left: 5px;
  }

  :global {
    .icon-link {
      border: 1px solid #e9e9e9;
      width: 70px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 1px #e9e9e9;
      border-radius: 6px;

      svg {
        width: 11px;
        margin-right: 5px;
      }

      &>a {
        display: flex;
        align-items: center;
      }
    }

    .mrt {
      a {
        color: #067c08;
      }

      svg {
        color: #067c08;
      }

      &:hover {
        border: 1px solid #067c08;
      }
    }

    .code {
      a {
        color: #0095ff;
      }

      svg {
        color: #0095ff;
      }

      &:hover {
        border: 1px solid #0095ff;
      }
    }

    .data {
      a {
        color: #0a5967;
      }

      svg {
        color: #0a5967;
      }

      &:hover {
        border: 1px solid #0a5967;
      }
    }

    .video {
      a {
        color: #0D0C22;
      }

      svg {
        color: #0D0C22;
      }

      &:hover {
        border: 1px solid #0D0C22;
      }
    }

    .text {
      width: 80px;

      a {
        color: #5E21A3;
      }

      svg {
        color: #5E21A3;
      }

      &:hover {
        border: 1px solid #5E21A3;
      }
    }

    .ppt {
      a {
        color: #eb1d25;
      }

      svg {
        color: #eb1d25;
      }

      &:hover {
        border: 1px solid #eb1d25;
      }
    }

    .pdf {
      a {
        color: #F7B500;

        svg {
          color: #F7B500;
        }
      }

      &:hover {
        border: 1px solid #F7B500;
      }
    }
  }
}
