
.rankSorts {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 6px 8px;
  min-width: 260px;
  .rankItem {
    margin: 0 4px;
    padding: 0 14px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    line-height: 24px;
    &:hover {
      background-color: #0095FF;
      color: #FFF;
    }
  }
  .rankSelected {
    background-color: #0095FF;
    color: #FFF;
  }
}
