@import "~themes/vars";

.personSelectorPair {
  display: flex; flex-direction: row;justify-content: space-between;

  .left {
    flex:1;max-width:800px;
  }
  .vs {
    flex:0; width:10%;align-self: center;padding:0 12px;
  }
  .right {
    flex:1;max-width:800px;
  }
}
