@import '~themes/vars';
@import '~themes/theme-aminer-func';

.authorPub {
  background: #fff;

  :global {
    // .person-list-item {
    //   padding-left: 0;
    //   padding-right: 0;
    // }
    .publication_list {
      .paper-item {
        padding-top: 14px;
        padding-bottom: 4px;
      }
      .paper-item:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    .person-list-item {
      border-top: 1px solid #efefef;
      padding-top: 8px !important;
      // padding-left: 20px !important;
    }
  }
}

@media screen and(max-width: 992px) {
}

@media screen and(max-width: 768px) {
}
