@import '~themes/vars';
@import '~themes/theme-aminer-func';

.pub {
  background: #fff;

  :global {
    .paper-item {
      padding: 16px 0 6px;
      border-bottom: none;

      .oprs {
        margin-top: 0;
      }
    }
  }
}

@media screen and(max-width: 992px) {
}

@media screen and(max-width: 768px) {
}
