@import "~themes/vars";
@import "~themes/theme-aminer-func";

.topic_author {
  font-size: 18px;
  :global {
    .author_list {
    }
    .count {
      width: 56px;
      height: 16px;
      .user-fz(14);
      font-style: italic;
      font-family: Roboto-Italic, Roboto;
      font-weight: normal;
      color: rgba(84, 84, 84, 1);
      line-height: 16px;
    }
    .imgBox .img {
      border-radius: 50%;
    }
  }
}
