.reportRank {
  .rankTitle {
    padding-top: 28px;
    font-size: 16px;
    font-weight: bold;
    color: #31424e;
    line-height: 1;
    padding-bottom: 12px;
    margin-bottom: 15px;
  }
  .rank {
    .rankList {
      font-family: Helvetica;
      margin-bottom: 15px;
      padding-left: 8px;
      border-left: 2px solid #f2f2f2;
      .title {
        font-size: 14px;
        color: #545454;
        transition: all 0.2s;
        font-weight: normal;
        line-height: 1.8;
        cursor: pointer;
      }
      &:hover {
        border-color: #0095ff;
        transition: all 0.2s ease-in;
        .title {
          color: #0095ff;
        }
      }
    }
  }
}
