.annotationVersion {
  padding: 12px 12px;
  border: dashed 1px darkseagreen;
  margin-top: 16px;
  .verTitle {
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .filedSplit {
    margin-bottom: 0;
    padding: 4px 0px;
    white-space: nowrap;
  }
  .filedBorder {
    border-bottom: 1px solid #eee;
  }
  .highText {
    color: #2280ef;
  }
  .oprateBtn {
    margin-left: 12px;
  }
}
