.personMergeRefer {
  .item {
    border-bottom: 1px solid #eee;
    .label {
      text-align: right;
      margin-right: 6px;
    }
    .title {
      font-weight: bolder;
      font-size: 14px;
    }
    .text { margin-bottom: 12px; }
  }
}
