.personMerge {
  .formZone {
    display: flex;
    .mergrBtn {
      height: 36px;
      margin-left: 4px;
    }
  }
  .sortZone {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 12px;
  }
  .loadingWrap {
    position: relative;
    min-height: 30px;
    .loader {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .splitLine {
    border-bottom: 1px dashed #1890ff;
  }
  .paginationWrap {
    margin-top: 20px;
    text-align: center;
  }
}
