.personNoteEditPaper {
  .timeAndUser {
    color: #444;
    text-align: right;
    margin-bottom: 20px;
    .text {
      border: dashed 1px darkseagreen;
      background-color: honeydew;
      padding: 2px 4px;
    }
  }
  :global {
    .labelText { width: auto; }
  }
}
