.starPaperToPerson {
  font-size: 22px;
  width: 22px;
  margin-right: 24px;
  .starIcon {
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
  .activeIcon {
    color: #1890ff;
  }
}
