@import "~themes/vars";

.commented {
  padding: 12px;
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  input {
    width: 100%; display: block;
    white-space:normal;word-wrap:break-word;word-break:break-all
  }

  textarea {
    resize: none; width: 100%; border-color: #D7D7D7; border-radius: 2px;
    font-size: @font-size-13; line-height: 18px; color: #444; 
    padding: 6px 10px;outline: none; margin-bottom: 8px;
  }

  .commit {
    display: flex; justify-content: flex-end; margin-bottom: 25px;
    margin-top: 10px;

    button {
      border: 1px solid #3F81BD; background: #f5f5f5; 
      width: 80px; height: 30px; outline: none; cursor: pointer;
    }
  }

  .commentList {
    border-top: 1px solid #E8E8E8; padding-left: 0;

    .item {
      padding: 10px 0; display: flex;

      .imageBox {
        width: 48px; height: 53px; margin-right: 10px; min-width: 48px;
        display: flex; align-items: center;

        img { width: 100%; }
      }

      .content {  
        font-family: 'Helvetica Neue'; flex-grow: 1;
        .name { font-size: 16px; color: #181818; margin-bottom: 0; }
        .text { font-size: @font-size-12; color: #373737;  margin-bottom: 10px; }

        .infos {
          width: 100%;
          font-size: @font-size-13; display: flex; justify-content: space-between;

          .btns {
            .btn {
              // display: flex; align-items: center;
              margin-right: 20px; line-height: 15px;
              &:last-child { margin-right: 0; }
              .label { color: @color-high; cursor: pointer; margin-left: 2px; }
              .num { color: #EC6F17; position: relative; top: -1px; margin-left: 2px; }
            }
          }
          .time {
            color: #A0A0A0;
          }
        }
      }
    }
  }
}
