.paperKeywords {
  margin-bottom: 12px;
  padding-right: 10px;
  .keyLabel {
    margin-bottom: 8px;
    .keyText {
      font-weight: bolder;
      font-size: 16px;
      white-space: nowrap;
    }
  }

  .list {
    display: flex; flex-wrap: wrap;
    .keyWord {
      border: 1px solid #abc;
      border-radius: 3px;
      padding: .1em .3em;
      margin-right: .5em;
      margin-bottom: .5em;
      display: inline-block;
      color: #002050;
     }
     .more {
      color: #3C80BC;
      font-size: 12px;
     }
  }
}
