.paperTabs {
  .fullText {
    font-size: 20px;
    p {
      margin-bottom: 0;
    }
    .pdf {
      border: 1px solid #eeeeee;
    }
  }
  .uploadBtn {
    margin-top: 12px;
    background: #fafafa;
    border: 1px dashed #d9d9d9;
    width: 100%; height: 200px;
    i { margin-right: 10px; }
  }
  .tabHead {
    // display: flex; justify-content: space-between;
    // background: #f5f5f5;
    position: relative;
    max-width: 100%;
    padding-left: 12px;
    border: 1px solid #e8e8e8;
    font-family: 'Robot';
  }
  
  // :global {
  //   .ant-tabs-bar {
  //     margin-bottom: 4px;
  //     border-bottom: 0px;
  //   }
  //   // .ant-tabs .ant-tabs-tab-active {
  //   //   color: @color-high;
  //   //   background: #fff;
  //   // }
  //   // .ant-tabs .ant-tabs-nav-container {
  //   //   @media screen and (min-width: 768px) {
  //   //     height: 40px;
  //   //   }
  //   //   @media screen and (max-width: 768px) {
  //   //     height: 30px;
  //   //   }
  //   // }
  //   .ant-tabs .ant-tabs-nav .ant-tabs-tab{
  //     text-align: center;
  //     // @media screen and (min-width: 768px) {
  //     //   width: 110px;
  //     // }
  //     @media screen and (max-width: 768px) {
  //       padding: 0 6px;
  //       width: auto;
  //       height: 32px; line-height: 30px;
  //       margin-right: 4px;
  //     }
  //   }
  // }
}
