.paperCodeData {
  margin-bottom: 12px;
  .title {
    margin-bottom: 6px;
    svg {
      cursor: pointer;
    }
    .label {
      font-size: 16px;
      font-weight: bolder;
    }
  }
}

.editCdForm {
  padding: 12px 16px;
  .cdItem {
   display: flex; margin-bottom: 20px;
    .input {
      width: 300px;
      margin: 0px 12px;
    }
    svg {
      cursor: pointer;
    }
  }
  .addBtn {
    margin: 20px 0px;
    text-align: center;
    .btn { width: 56px; }
  }
}
