.paperAbstract {
  margin-bottom: 12px;
  .absTitle {
    margin-bottom: 6px;
    .absLabel {
      font-size: 16px;
      font-weight: bolder;
    }
  }
  .abstractText {
    color: #555;
  }
  .morebtn {
    font-size: 12px;
    margin-left: 2px;
    color: @color-high;
    border: none;
    cursor: pointer;
  }
}
