.paperBasicInfoZh {
  .title {
    font-size: 15px;
    font-family: 'Times New Roman';
    .label {
      display: inline-block;
      padding: 0 6px; margin-right: 8px;
      height: 18px; line-height: 18px;
      font-size: 12px; color: #fff;
      border-radius: 4px; text-align: center;
      background: #ec6b10;
      font-family: 'PingFang SC';
    }
  }
  .content {
    padding: 6px 12px;
    :global {
      .absTitleClass {
        font-size: 16px; font-weight: normal;
      }
    }
  }
}
