@import '~themes/vars';

.switchCache {
  padding: 16px 10px;
  width: 170px;

  :global {
    .line:last-child {
      margin-bottom: 0s;
    }
  
    .line {
      margin-bottom: 10px;
      .text {
        margin-left: 10px;
      }
    }
    .re_search {
      margin-top: 10px;
      text-align: right;

      .btn {
        cursor: pointer;
      }
    }
  }
  // position: fixed;
  // bottom: 40px;
  // right: 20px;
  // width: 42px;
  // height: 42px;
  // border-radius: 50%;
  // background: rgba(0, 0, 0, 0);
  // // box-shadow: 0 0 4px 4px rgba(0, 0, 0, .3);
  // display: flex;

  // :global {
  //   .control_btn {
  //     position: absolute;
  //     top: 1px;
  //     left: 1px;
  //     width: 40px;
  //     height: 40px;
  //     border-radius: 50%;
  //     cursor: pointer;
  //     background: linear-gradient(37deg, rgba(0, 149, 255, 0.8) 25%, rgba(0, 149, 255, 0.2));
  //   }
  //   .control_content {
  //     position: absolute;
  //     right: 32px;
  //     top: 44px;
  //     border: 1px solid #ccc;
  //   }
  // }
}
