@import "~themes/vars";
@import "~themes/theme-aminer-func";

.gctList {

  padding: 0;
  :global {
    .list_item {
      border-bottom: 1px solid #DFDFDF;
      padding: 16px 0;

      &:last-child {
        border-bottom: none;
      }
    }
  }

}
