.advanceSearchMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  overflow: auto;
  outline: 0;
  width: 100vw;;
}

.advanceSearch {
  background-color: #fff;
  box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.06), 0 4px 12px 4px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(0, 0, 0, 0.07), 1px 0px 1px 0px #d6d6d6, 0px 1px 5px 0px #d6d6d6;
  padding: 12px 0;
  margin: 0;
  border-radius: 0px 0px 2px 2px;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 36px;
  .advanceSearchItem {
    margin: 0;
    .advanceSearchInput {
      padding: 4px 8px;
      font-size: 12px;
    }
  }
  .advanceSearchBtns {
    text-align: center;
    margin: 12px 0;
    .advanceSearchBtn {
      margin: 0 12px;
      width: 80px;
    }
  }
}
