// @import "~themes/vars";

.searchSorts {
  // border: 1px solid red;
  width: 100%;
  border: 1px solid #e8e8e8;
  :global {
    .ant-tabs-ink-bar { background-color: initial; }
    .ant-tabs-bar {
      margin-bottom: 0; padding-left:8px; 
      // background: #f9f9f9;
      height: 40px; box-shadow: none; border-bottom: none;

      .ant-tabs-nav-container {
        height: 100%;
        .ant-tabs-tab {
          height: 40px; line-height: 16px;
          font-size: @font-size-13; color: #000;
          margin-right: 20px;     padding: 12px 16px;
        }
        .ant-tabs-tab:hover {
          color: #E02020;
          border: none;
          border-bottom: 2px solid #E02020;
          svg {
            fill: #E02020;
          }
        }
        .ant-tabs-tab-active {
          color: #E02020;
          border: none;
          background: transparent;
          border-bottom: 2px solid #E02020;
          svg {
            fill: #E02020;
          }
        }
      }

      .ant-tabs-extra-content {
        height:40px;
        padding: 0 8px;
        display: flex;
        align-items: center;
      }
      .ant-tabs-nav-scroll {
        border-bottom: none;
        background: transparent;
        height: auto; overflow: hidden;
      }
      .ant-tabs-nav-wrap {
        border: none;
      }
    }
  }
  .tabName {
    display: flex;
    align-items: center;
  }

  .mustReadIcon {
    svg {
      width: 18px;
      height: 12px;
      margin-bottom: -2px;
      margin-right: 4px;
      fill: #444444;
    }
  }
  .latest img{
    width: 28px;
    position: relative;
    top: -10px;
    left: 29px;
  }
  .latest+span{
    margin-left: -29px;
  }
}

.exportButtonZone {
  display: flex;
  align-items: center;
  height: 100%;
  // padding-right: 20px;
  // :global .ant-btn {height:28px;}
}

@media screen and(min-width: 992px) {
  .searchSorts { border: none; }
}
