.AuthorsComponent {
  // margin-top: 20px;
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  :global {
    .authors_list {
      .authors_content {
        padding-top: 20px;
        margin: 0 5px;
      }
      .author_legend {
        margin-bottom: 9px;
        svg {
          margin-right: 12px;
          width: 18px;
        }
      }
    }
  }
}
