.confSearchBox {
  min-height: 40px;
  margin-bottom: 20px;
  flex-grow: 1;
  margin-left: 10%;
  margin-right: 10%;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  :global {
    .searchInput {
      input {
        border-radius: 50px;
        box-shadow: 0 0 6px 2px #EEEEEE;
      }
    }
  }
}

// @media screen and (max-width: 768px) {
//   .confSearchBox {
//     display: none;
//   }
// }
