.countDown {
  background-image: url('https://originalfileserver.aminer.cn/sys/aminer/search_iclr2020_bg.jpg');
  height: 199px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
    font-size: 30px;
  }
  p {
    color: #fff;
    font-size: 20px;
    span {
      font-size: 24px;
    }
  }
}
