@import "~themes/vars";

.logo {
  margin-bottom: 0; order: 1; position: relative; display: flex; align-items: center; height: 100%;

  .minHide { display: none; }
  a {
    height: 100%; display: flex; align-items: center;
    &.kst {
      width: 38px; position: relative; order: 1;

      img { width: 38px; }
    }

    &.aminer {
      width: 72px; position: relative; top: 0; order: 3;
      display: flex; align-items: center;

      img { width: 72px; }
    }
    svg { font-size: 72px; }
    // img { width: 100%; }
  }
  span {
    display: inline-block; margin: 0 10px;  height: 16px; order: 2;
    border-left: 1px solid #888;
    line-height: 50px; vertical-align: middle;
    position: relative; top: 2px;
  }
}

.logo.home {

}

@media screen and (min-width: 720px) {
  .logo .minHide {
    display: flex;
  }
  // .headerBg .header .logo a.kst {
  //   display: block;
  // }
}
