@import "~themes/vars";
// 如果修改 header 的样式，可能论文的高级搜索框的样式也要修改

.headerBg {
  width: 100%;
  height: 59px;
  background: @aminer-bg-color-header;
}

.headerFixed {
  position: fixed;
  z-index: 99;
}

.header {
  margin: 0 auto;
  padding: 0 15px;
  background: transparent;
  // max-width: @content-wrapper;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &.large {
    max-width: 100%;
    padding: 0 17px 0 20px;
    // .logo a {
    //   &.kst { order:3; }
    //   &.aminer { order: 1; }
    // }
  }

  >div {
    height: 56px;
  }

  .left {
    display: flex;
    flex: 1;
    align-items: center;
    // border: solid 1px red;
    // min-width: 150px;
  }

  .center {
    display: flex;
    flex: 1;
    // flex-direction: row;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;

    // border: solid 1px yellow;
  }

  .covidMenu {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
  }

  .right {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    // border: solid 1px pink;
  }
  
}

// * theme

.headerBg.home {
  border-top: 4px solid #0095FF;
  background: rgba(0, 149, 255, .08);
  height: 60px;
}

.header.home {
  max-width: 100%;
  // background: rgba(0, 149, 255, .08);
  background: rgba(255, 255, 255, .7);
  height: 58px;

  .left, .right {
    height: 58px;
    // display: flex;
    // align-items: center;
    // border: solid 1px red;
  }
  // .right {
  //   display: flex;
  //   align-items: center;
  //   border: solid 1px pink;
  // }
}

// * @media

@media screen and (min-width: 600px) {
  .headerBg .header .center {
    // order: 2;
  }
}
@media screen and (min-width: 720px) {
  .headerBg .header .logo .minHide {
    display: flex;
  }
  .headerBg .header .right {
    // min-width: 270px !important;
  }
  // .headerBg .header .logo a.kst {
  //   display: block;
  // }
}
@media screen and (max-width: 1000px) {
  .headerBg .header {
    .center {
      max-width: 450px;
    }
    .right {
      // min-width: 270px;
    }
    .noRightZone {
      max-width: 50px;
      min-width: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .headerBg .header .noRightZone {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .headerBg .header .center {
    display: none;
  }
}
