
.bannerWithICLR {
  background-color: #0078CB;
  border-radius: 8px;
  display: flex;
  .bannerRow {
    // display: flex;
    padding: 14px 40px;
    // align-items: center;
    position: relative;
    // flex-wrap: wrap;
    font-weight: 500;
    flex: 1;
    &:first-child {
      // border-bottom: 1px solid #014a7c;
      // box-shadow: 1px 1px 1px hsla(0,0%,100%,.5);
      border-right: 1px solid #014a7c;
      box-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.5);
    }
    .left {
      // width: 328px;
      max-width: 328px;
      // padding-right: 32px;
      font-size: 24px;
      position: relative;
      margin-bottom: 5px;
      .linkWrap {
        color: #ffefc4;
        text-shadow: 0px 3px 4px #003e69;
        &:hover {
          text-decoration: underline;
        }
      }
      .titleIcon {
        max-width: 36px;
        max-height: 34px;
        margin-bottom: 4px;
        margin-right: 8px;
        filter: drop-shadow(1px 1px 2px #555);
      }
      .hotIcon {
        width: 36px;
        position: absolute;
        top: 0;
        padding-left: 4px;
      }
      
    }
    // .split {
    //   border-right: 1px solid #014a7c;
    //   box-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.5);
    //   height: 50px;
    //   display: block;
    // }
    .right {
      display: flex;
      flex: 1;
      // padding-left: 32px;
      justify-content: space-between;
      flex-wrap: wrap;
      .rightItem {
        color: #fff;
        // padding: 0 12px;
        font-size: 14px;
        .rightLink {
          color: #fff;
          &:hover {
            span {
              text-decoration: underline;
            }
          }
        }
        .formalLink {
          text-shadow: 0px 3px 4px #003e69;
          font-size: 14px;
        }
        .rightTitle {
          font-size: 16px;
        }
      }
    }
    // .iclrIconImg {
    //   position: absolute;
    //   width: 60px;
    //   height: 68px;
    //   right: -30px;
    //   bottom: 16px;
    // }
    // .covidIconImg {
    //   position: absolute;
    //   width: 70px;
    //   height: 73px;
    //   right: -43px;
    //   bottom: 16px;
    // }
    .linkIcon {
      width: 16px;
      height: 16px;
      margin: 0px 8px;
    }
    .leaveHot {
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .bannerWithICLR {
    .bannerRow {
      .right { 
        // width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bannerWithICLR {
    display: block;
    .bannerRow {
      &:first-child {
        border: 0;
        border-bottom: 1px solid #014a7c;
      }
    //   flex-direction: column; 
    //   align-items: flex-start;
    //   .left {
    //     padding-right: 0px
    //   }
    //   .split {
    //     display: none;
    //   }
    //   .right { 
    //     padding-left: 0px;
    //     .rightItem {
    //       padding: 0px;
    //     }
    //   }
    }
  }
}

@media screen and (max-width: 500px) {
  .bannerWithICLR {
    // .bannerRow {
    //   padding: 24px 28px;
    //   .left {
    //     width: 100%;
    //     font-size: 16px;
    //   }
    //   .right .rightItem {
    //     padding: 0px;
    //     font-size: 14px;
    //     margin-bottom: 2px;
    //     .formalLink {
    //       font-size: 14px;
    //     }
    //   }
    // }
  }
}
