.infoAndAdv {
  :global {
    .info_ledgend {
      svg {
        color: #6d7278;
        margin-right: 16px;
      }
      font-size: 16px;
      margin-bottom: 4px;
    }
    .info_content {
      border: 1px solid #e9e9e9;
      padding: 20px 20px;
      min-height: 100px;
    }
  }
}
