@import '~themes/vars';
@import '~themes/theme-aminer-func';

.relatedwork {
  padding: 12px;
  height: auto;
  width: 64vw;
  // max-height: 800px;
  max-width: 1200px;
  // overflow-y: scroll;
  padding-top: 0;

  :global {
    .btnLine {
      margin: 12px 0;
      text-align: right;
      .btn {
        margin-left: 12px;
        .copyBtn {
          width: 16px;
          height: 16px;
          color: #6b6b6b;
          margin-right: 4px;
        }
        .downloadBtn {
          width: 14px;
          height: 14px;
          margin-right: 4px;
        }
      }
    }
  }
}
