@import "~themes/vars";

// .statistics {

// }

// @media screen and (min-width: 768px) {
//   .statistics {
//     .statItem { width: calc((100% - 40px)/2); }
//   }
// }

// @media screen and (min-width: 992px) {
//   .statistics {
//     .wrapper { max-width: 970px; }
//     .statItem { width: calc((100% - 80px)/4); }
//   }
// }

// @media screen and (min-width: 1200px) {
//   .statistics {
//     .wrapper { max-width: 1200px; }
//   }
// }
