@import '~themes/vars';
@import '~themes/theme-aminer-func';

.title {
  :global {
    .title-line {
      display: flex;
      padding-right: 100px;
      margin-bottom: 0;
      font-size: 18px;
      .pdf-icon {
        color: #ff5e5c;
        margin-right: 5px;
        vertical-align: middle;
      }
      .paper-title {
        // font-size: 18px;
        color: #000;
        line-height: 22px;
        margin-bottom: 0;
        vertical-align: middle;
        // font-family: "Helvetica Neue", "PingFang SC"; font-weight: bold;
      }
      .title-zone {
        flex-grow: 1;
      }
    }
  }
}
