@import "../../node_modules/antd/lib/style/themes/default.less";
@import "./theme-aminer.less";

// TODO: 暂时先放着吧，感觉theme这块不太对，

@import "../../node_modules/antd/lib/style/themes/default.less";

@aminer-bg-color-header: #000E28;
@aminer-bg-color-footer: #FFFFFF;
// @aminer-bg-color-footer: #F1F3F4;
@aminer-bg-color: #fff;
@content-wrapper: 1170px;
@content-wrapper-m: 992px;
@content-wrapper-s: 768px;
// ==========================================================================将来要删除掉
@font-family-no-number: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB",
  "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

// @font-family-title: 'helvetica neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
@font-family-title: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

@border-radius-base: 2px;
@border-radius-l: 3px;
@shadow-color: #D8D8D8;
@shadow-1-down: 4px 4px 40px @shadow-color;
// @border-color-split: #f4f4f4;
@border-color-split: #d5d5d5;

@border-color-base: #D5D5D5;
@menu-dark-bg: #3e3e3e;
//@text-color: #666;
@text-color: #000;
@color-white: #fff;
@color-orange: #EC6B10;
@color-base: #181818;
@color-high: #3C80BC;
@color-high-red: #8B0100;
@color-high-green: #067C08;
// @text-color-gray: #

@font-family-paper-title: "Times New Roman", "PingFang SC";
@font-family-paper-author: "Helvetica Neue";
@font-helvetica: "Helvetica";
@font-roboto: "Roboto Slab";
@font-roman: "Times New Roman";

@animation-duration-slow: .2s; // Modal
@animation-duration-base: .15s;
@animation-duration-fast: .1s; // Tooltip

@font-size-base: 14px;
@font-size-13: 13px;
@font-size-12: 12px;
@font-size-xs: 11px;

// 其余新加入的设置应该放vars.less里面.
// 扯淡，
@font-family-2: @font-family;
@text-color-gray: #90949c;

@input-placeholder-color: #ddd;

@default-border-color: #e5e6e9; // #dfe0e4 #d0d1d5
@background-color-gray: #f6f7f9;

@font-size-sm: @font-size-base - 1px; // New ~

@orange: #ff7f0e;
@dark-gray: #4b4f56;
@max-width-page: 1128px;
@min-width-page: 375px; // iphone6 width;
@menu-dark-bg: #3e3e3e;

// --------------------------------------
// vars
// --------------------------------------

@bg-color-header: white;
@bg-color-footer: white;
@bg-color-content: white;
@font-size-huge: @font-size-base + 6px;
@font-size-lg: @font-size-base + 2px;
@font-size-large: @font-size-base + 2px;
@font-size-larger: @font-size-base + 4px;

@bg-color-main: #3e9bc9;

@padding-outer-h: 20px;
@padding-outer-v: 20px;

@btn-bg-color: #3e9bc9;
@text-count-color: #f1742f;

@bgtexture: url(/images/bgtexture.png);

@zp_blue: #0095ff;
