@import "~themes/vars";
@import "~themes/theme-aminer-func";


.wrapper { 
  background-color: #f5f5f5; 
  width: 100%;
}
.article {
  position: relative;
  left: -30px;
  // width: 100%;
  .aminer-main-wrap();
  padding-top: 20px;
  display: flex;
  :global {
    .menu {
      min-width: 200px; padding-right: 10px;
    }
    .page_content {
      flex-grow: 1;
    }
  }


}

@media screen and (max-width: 1500px) {
  .article {
    :global {

    }
  }
}


@media screen and (max-width: 1200px) {
  .article {
    width: 970px;
  }
}

@media screen and (max-width: 1000px) {
  .article {
    width: 760px;
  }
}

@media screen and (max-width: 768px) {
  .article {
    width: 100%; position: relative; padding: 0;
    :global {

    }
  }
}

// @media screen and(min-width: 768px) {
//   .article { width: 750px; }
// }

// @media screen and(min-width: 992px) {
//   .article { width: 970px; }
// }

// @media screen and(min-width: @content-wrapper) {
//   .article { .aminer-main-wrap() }
// }