@import '~themes/vars';

.personList {
  width: 100%;
  position: relative;

  :global {
    .publication_list {
      .paper-item {
        .content {
          padding: 0;
          min-height: auto;
        }
      }
    }
    .person-list-item {
      .statistic_content {
        .right-bottom-zone {
          margin-top: 10px;
          .follow-btn {
            height: auto;
            .btn_box {
              justify-content: flex-start;
            }
          }
          .certificate {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 768px) {

}
