@import "~themes/vars";

.confVote {
  :global {
    .vote {
      cursor: pointer;
      margin-right: 2px;
    }
    // .vote.active {
    //   cursor: text;
    // }
    .vote.fan {
      transform: rotateZ(180deg); margin-left: 4px;
    }
  }
}
