@import '~themes/vars';
@import '~themes/theme-aminer-func';

.unFollow {
  :global {
    .cancel_collection {
      color: #000E28;
      cursor: pointer;
    }
    .cancel_collection:hover {
      color: #e02020;
      // text-decoration: underline;
    }
  }
}

@media screen and(max-width: 992px) {
}

@media screen and(max-width: 768px) {
}
