@import "~themes/vars";
@import "~themes/theme-aminer-func";


.ranksHome {
  .aminer-main-wrap();
  max-width: 667px;
  padding-top: 20px;



  :global {
    .menu {
      border-bottom: 1px dashed #979797;
      padding-bottom: 40px;

      .headline {
        border-bottom: 1px solid #979797;
        padding: 20px 0;
        margin-bottom: 20px;

        h1 span {
          color: #162330;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
        }
      }

      .menu_content {

        // padding: 20px 30px;
        .menuList {
          margin: 0;
          padding-left: 0;

          .listItem {
            font-family: @font-helvetica;
            margin-bottom: 22px;
            // cursor: pointer;

            .title {
              font-size: 14px;
              color: #000;
              transition: all .2s;

              &:hover {
                text-decoration: underline;
                color: #0097ff;
              }
            }

            // img { width: 28px; position: relative; top: -5px; left: 5px;}
            .desc {
              font-size: 12px;
              color: #444;
              margin-bottom: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

}
