@import "~themes/theme-aminer-func";

.ebs {
  .aminer-main-wrap();
  display: flex;
  padding-bottom: 12px;
  padding-top: 12px;
  .leftSlider {
    width: 240px;
    margin-right: 24px;
  }
  .content {
    flex: 1;
  }
}
