.newsComponent {
  :global {
    .result_line {
      font-size: 13px;
      margin-bottom: 12px;
      .keyword {
        color: #EC6B10;
      }
    }
    .news_content {
      .list_content {
        display: flex;
        position: relative;
        .news_list {
          flex-grow: 1;
        }
      }
      .pageinationWrap {
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }
    }

  }
}
