@import '~themes/vars';
@import '~themes/theme-aminer-func';

.bibtex {
  color: @color-high-green;
  cursor: pointer;
  font-weight: bold;
  i {
    margin-right: 2px;
  }
  &:hover {
    text-decoration: underline;
  }
  svg {
    color: @color-high-green;
    margin-right: 4px;
  }
}
