@import '~themes/vars';
@import '~themes/theme-aminer-func';

.cited {
  // color: @color-high;
  color: @color-high-green;
  // font-weight: bold;
  &.zero {
    color: #999 !important;
  }
  // strong { .tiny-number(12px) }
  strong {
    margin-left: 8px;
  }
}
