.views {
  // display: flex; align-items: center;
  color: #545454;
  span {
    // display: flex; align-items: center;
    color: #555;
    // cursor: pointer;
  }
  svg {
    margin-right: 8px;
    color: #545454;
  }
  span > span {
    margin-right: 8px;
  }
}
