.ebBasicInfo {
  display: flex; flex-direction: column;
  //min-height: 70px;
  margin-bottom: 16px; padding: 12px 18px 12px 18px;
  background-color: white;
  border: solid 1px #e5e5e5;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);

  .titleLine {
    display: flex; flex-direction: row; justify-content: space-between;

    .title {
      margin-bottom: 4px;
      .subTitle { font-size: 18px;margin-left: 12px;}
    }

    .infoBlock {
      display: flex; flex-direction: column;justify-content: center;
      color: #999; text-align: right;
    }
  }

  .desc { display: flex; color: #666;margin-top: 12px; }
}
