.ebMember {
  text-align: right;
  padding: 15px;
  :global {
    .memberTitle {
      background-color: #f5f5f5;
      border-color: #ddd;
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      font-weight: 700;
      color: #333;
      text-align: left;
      margin-top: 10px;
      border: 1px solid #bbb;
    }
    .ant-btn-primary {
      .arrowsClose {
        margin-left: 5px;
        font-size:0;
        line-height:0;
        border-width:5px;
        border-top-width:0;
        border-style:dashed;
        border-bottom-style:solid;
        border-left-color:transparent;
        border-right-color:transparent;
        top: -3px;
        position: relative !important;
      }
      .arrowsOpen {
        margin-left: 5px;
        font-size:0;
        line-height:0;
        border-width:5px;
        border-bottom-width:0;
        border-style:dashed;
        border-top-style:solid;
        border-left-color:transparent;
        border-right-color:transparent;
        top: -2px;
        position: relative !important;
      }
    }
    .memberAutoForm {
      margin-top: 10px;
    }
    .emailStyle {
      input {
        width: 100%;
      }
    }
  }
}
