.EbNavbar {
  box-shadow: 0 0 3px #d3d3d3;
  background-color: #ffffff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  .buttonStyle {
    margin-right: 10px;
  }
  .inputStyle {
    margin: 0 10px;
    min-width: 40px;
    width: 30px;
    text-align: center;
  }
}
:global {
  .ant-dropdown-menu {
    border: 1px solid #999;
    border-radius: 5px;
  }
  .ant-descriptions-item-content {
    width: 570px;
  }
  .ant-descriptions-item-label {
    background-color: #ffffff !important;
  }
  .pubsStyle {
    padding: 0 !important;
    .ant-descriptions-view {
      border: 0 !important;
    }
  }
}
