.editGenderLang {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    :global {
        .ant-switch {
            background-color: #1890ff;
            width: 66px;
            margin-right: 12px;
        }
    }
    .selectLang {
        width: 100px;
        margin-bottom: 8px;
        :global {
            .langItem {
                padding: 4px;
            }
        }
    }

    .action {
        background-color: #1890ff;
        cursor: pointer;
        color: #fff;
    }
    // .listAction {
    //     margin-left: 12px;
    // }
    // .tableAction {
    //     margin-top: 12px;
    // }
}