@import '~themes/vars';
@import '~themes/theme-aminer-func';

.notification {
  :global {
    .paper-item {
      // border-bottom: none;
    }
    .time {
      margin-bottom: 4px;
    }
    .notification_item {
      background: #fff;
      padding: 0 18px;
      border-radius: 2px;
      // border: 1px solid #eeeeef;
      margin: 10px 0px;

      .paper-item {
        .content {
          .title-line {
            .paper-title {
              color: #000e28;
            }
          }
        }
      }

      .notification_content {
      }
    }

    .recommend_reason {
      font-size: 14px;
      line-height: 20px;
      color: #6e6d7a;
      padding: 10px 0 10px;
      border-bottom: 1px solid #eeeeef;
      margin-bottom: 0;

      .name {
        font-weight: bold;
        color: #000e28;
      }
      .field {
        border: 1px solid #dadada;
        border-radius: 12px;
        color: #000e28;
        padding: 0 12px;
      }
    }
    // .paper-item {
    //   padding: 15px 0;
    // }
    // .pub {
    //   background: #fff;
    //   border: 1px solid #EEEEEF;
    //   padding: 0 15px;
    // }
    // .content-left {
    //   .person {
    //     display: block;
    //     width: 60px;
    //     height: 60px;
    //     background: #EEEEEF;
    //     border-radius: 50%;
    //     margin-right: 15px;
    //     img {
    //       width: 100%;
    //       height: 100%;
    //     }
    //   }
    // }
  }
}

@media screen and(max-width: 992px) {
}

@media screen and(max-width: 768px) {
}
