
.fogetPwd{
  .loginContainer{

    border: 1px solid red;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 4px 4px rgba(199, 199, 199, 0.7);
    :global{
      .ant-col{
        min-height: 51px;
      }
      .ant-tabs-nav{
        width: 100%;
        padding-top: 20px;
        .ant-tabs-tab:first-child{
          border-right: 1px solid #dadada;
        }
        .ant-tabs-tab-active{
          color: #1890ff;
          font-weight: 500;
        }
        .ant-tabs-tab{
          width:50%;
          margin: 0;
          text-align: center;
          padding: 0 0 10px;
        }
      }

    }

  }
  .tips{
    p{
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
