@import '~themes/vars';
@import '~themes/theme-aminer-func';

.createBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.createConf {
  padding-top: 60px;
  .aminer-main-wrap();
  margin-top: 20px;
}
