.mustReadEdit {
  margin-left: 8px;
}
.recoTip {
  color: #0095FF;
  font-size: 12px; margin: 0 8px;
  cursor: pointer;
  display: inline-block;
}

.form {
  padding: 12px 32px;
  max-height: 80vh;
  overflow: scroll;
  .formItem {
    margin: 12px 0;
  }
  .submitBtn {
    text-align: right;
    margin-top: 12px;
  }
}

@media screen and (max-width: 768px) {
  .mustReadEdit {
    display: none !important;
  }
  .recoTip {
    display: none !important;
  }
}
