.mustReadZone {
  display: flex;
  align-items: center;
  .mustReadSort {
    .sortItem {
      padding: 0 4px;
      margin: 0 4px;
      &:hover {
        border-bottom: 1px solid #EC6B10;
      }
    }
    .sortSelected {
      font-weight: 500;
      border-bottom: 1px solid #EC6B10;
    }
  }
}
