.mustReadDelete {
  color: #0095FF;
  margin-left: 8px;
  cursor: pointer;
  font-size: 12px;
}

.deleteIcon {
  width: 20px;
  height: 20px;
  fill: #faad14;
  float: left;
}

@media screen and (max-width: 768px) {
  .mustReadDelete {
    display: none !important;
  }
}
