.orgEdit {
  color: #0095FF;
  margin-left: 8px;
  cursor: pointer;
  font-size: 12px;
}

.form {
  padding: 12px 32px;
  max-height: 80vh;
  overflow: scroll;
  .formItem {
    margin: 12px 0;
  }
  .btnLine {
    margin-top: 12px;
    text-align: right;
    .submitBtn {
      margin-left: 12px;
      text-align: right;
      display: inline-block;
    }
  }
  
}

@media screen and (max-width: 768px) {
  .orgEdit {
    display: none !important;
  }
}
