@import "~themes/vars";

.aminer {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  .logo {
    font-size: 72px;
    margin-right: 16px;
  }
  .text{
    color: #fff;
    position: relative;
    top: 4px;
  }
}
